<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/main.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <style>
      p{margin: 0;}
    </style>
    <title>Hello, world!</title>
  </head>
  <body>

    <!-- ''nav.html 첨부'' -->
    <%- include('nav.html')  %>

    <h6>todolist</h6>

    <div class="mt-4">
      <ul class="list-group">
        <% for (var i = 0; i < todos.length ; i++){ %>
        <li class="list-group-item"> 
          <b>할 일 순서 : <%= todos[i]._id %></b> 
          <p>할 일 제목: <%= todos[i].제목 %> </p>
          <p>할 일 마감날짜: <%= todos[i].날짜 %></p>
          <button class="delete btn btn-danger" data-id="<%= todos[i]._id %>">삭제</button>
          <button class="btn btn-link" onclick="location.href='./detail/<%= todos[i]._id %>'">자세히</button>
        </li>
        <% }%>
      </ul>
    </div>
      
    

    <!-- ajax는 새로고침없이 서버와 통신할수있게 도와주는 js문법 (제이쿼리 사용.) -->
    <script>

      $('.delete').click(function(e){
        var 글번호 = e.target.dataset.id;
        var 지금누른거 = $(this);
        $.ajax({
          method : "DELETE", //서버에 delete요청
          url : "/deleteTodo", // ex)/delete
          data : {_id : 글번호} //어떤정보를 보낼건지 (지금 내가 클릭한 버튼의 id.)
        }).done(function(결과){ //요청이 성공하면 (서버에서 200을 응답하면)아래를 실행
          // 페이지 새로고침하거나 삭제버튼을 누른 요소를 안보이게 처리.
          지금누른거.parent('li').fadeOut(250);
        }).fail(function(xhr, 응답코드, 에러메세지){//요청이 실패하면(서버에서 200을 응답하면) 아래를 실행
          console.log(xhr, 응답코드, 에러메세지);
        });
      });

    </script>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>