<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>Hello, world!</title>
  </head>
  <body>

    <!-- ''nav.html 첨부'' -->
    <%- include('nav.html')  %>


    <% for(let i = 0; i < profiles.length; i ++){ %>
      <form action="/editUser?_method=PUT" method="POST">
        <table style="margin-bottom:10px">
          <tr>
            <td>이름</td>
            <td>
              <input type="text" name="username" value="<%= profiles[i].username %>"> 
              <input type="hidden" name="id" value="<%=profiles[i]._id%>">
            </td>
            <td rowspan="3">
              <button class="btn btn-link" type="submit">수정</button>
              <button class="deleteUser btn" data-id="<%= profiles[i]._id %>">삭제</button>
            </td>
          </tr>
          <tr>
            <td>성별</td>
            <td>
              <input type="radio" name="gender<%= i %>" value="m" aria-label="<%= profiles[i].gender %>" >남자 / 
              <input type="radio" name="gender<%= i %>" value="f" aria-label="<%= profiles[i].gender %>" >여자 
            </td>
          </tr>
          <tr>
            <td>이메일주소</td>
            <td>
              <input type="text" name="e_id" value="<%= profiles[i].e_id %>">@
              <select name="e_address">
                <option value="1">naver</option>
                <option value="2">google</option>
              </select>
            </td>
          </tr>
        </table>
      </form>
    <% } %>


    <script>
      $(document).ready(function(){
        $('input[type="radio"]').each(function(){
          if($(this).attr('value') == $(this).attr('aria-label')){
            $(this).prop('checked', true);
          };
        })
      })

      $('.deleteUser').click(function(e){
        var 글번호 = e.target.dataset.id;
        var 선택한거 = $(this);
        $.ajax({
          method : 'DELETE',
          url : '/deleteUser',
          data : {_id : 글번호}
        }).done(function(){
          선택한거.parents('table').fadeOut(250);
        }).fail(function(){
          console.log('실패.')
        })
      })      

</script>
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

  </body>
</html>